.About{
    display: flex;
    background-color: var(--colorPar);
    height: 100%;
    width: 100%;
    .titleV{
        justify-content: center;
    }
    .aboutDesc{
        display: flex;
        align-content: center;
        align-items: center;
        color: white;
        font-size: x-large;
        padding: auto;
    }
    .aboutVideo{
        display: flex;
        height: 100vh;
        width: 100%;
        padding: 0;
        iframe{
            width: 100%;
            height: 100%;
            padding: 0;
        }
    } 
}
@media only screen and (max-width: 771px) {
    .aboutPhoto{
        display: none !important;
        @include tFoto(70%);
        img{
            height: 100%;
            width: auto;
            overflow: hidden;
        }
    }
    .aboutDesc{
        color: white;
        font-size: medium;
    }
}
@each $categoria, $colorPar in $categoriasPar {
    .about#{$categoria}{
        background-color: $colorPar;
    }
}