.Portrait{
    background-image: url(./../../Assets/selfportrait.jpg);
}
.vfxMain{
    background-image: url(./../../Assets/Imagenes/VFX/ICC.jpg);
}
.artsMain{
    background-image: url(./../../Assets/Imagenes/Art/Creative.jpg);
}
.devMain{
    background-image: url(./../../Assets/Imagenes/Dev/Dev.jpg);
}