.Portrait{
    background-image: url(./../../Assets/selfportrait.jpg);
}
.vfxMain{
    background-image: url(./../../Assets/Imagenes/VFX/ICC.jpg);
}
.artsMain{
    background-image: url(./../../Assets/Imagenes/Art/Creative.jpg);
}
.devMain{
    background-image: url(./../../Assets/Imagenes/Dev/Dev.jpg);
}
.cncP{
    background-image: url(./../../Assets/Imagenes/Extras/cnc.jpg);
}
.dPrintP{
    background-image: url(./../../Assets/Imagenes/Extras/3dPrint.jpg);
}
.photoP{
    background-image: url(./../../Assets/Imagenes/Extras/photo.jpg);
}
.marketP{
    background-image: url(./../../Assets/Imagenes/Extras/mark.jpg);
}
.teachP{
    background-image: url(./../../Assets/Imagenes/Extras/teach.jpg);
}