//animacion de entrada
.animado{
    @extend .flip-in-diag-2-br
}
@each $turno, $tiempo in $demoras{
    .animado#{$turno}{
        @extend .animado;
        animation-delay: $tiempo;
    }
}
.homeGroup{
    background: url(/Assets/BG/Chia\ colombia1.jpg);
    width: 100%;
    padding-top: 10%;
    height: 100%;
    padding-bottom: 10%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
.hexaR{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: xx-large;
    filter: opacity(0);
    text-align: center;
    //se mantiene en cero para forzar y el flex centra
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: $tiempoT + 0.5s;
}
.galleryItem:hover .hexaR{
    filter: opacity(1);
}
//query de TOUCH ESTA INCREIBLEEEE 
@media (any-hover: none) {
    .hexaR{
        filter: opacity(0.9) drop-shadow(-1px -1px 1px black);
    }
}
.colorH{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: $tiempoT;
    background-color: rgba($color: #000000, $alpha: 0.0);
    top: 0;
    left: 0;
}

//para aplicar hover se aplica en el padre y el color es un div vacio
.galleryItem:hover .colorH{
    background-color: rgba($color: #000000, $alpha: 0.5);
}
//crear las variedades de colores por categoria para la sombra de hexagonos SIN hover
@each $categoria, $color in $categoriasCards{
    .colorH#{$categoria}{
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: $tiempoT;
        background-color: $color;
        filter: opacity(0);
        top: 0;
        left: 0;
    }
}
//crear las variedades de colores por categoria para la sombra de hexagonos en hover
@each $categoria, $color in $categoriasCards{
    .galleryItem:hover .colorH#{$categoria}{
        background-color: $color;
        filter: opacity(0.5);
    }
}

@media only screen and (max-width: 850px) {
    .homeGroup{
        background-color: var(--colorImpar);
        width: 100%;
        padding-top: 20%;
        height: 100%;
        padding-bottom: 10%;
    }
}
// cambiar color de fondos de cada section en cada page de categoria
@each $categoria, $colorImp in $categoriasImp{
    .home#{$categoria}{
        background-color: $colorImp;
    }
}
// crear las variedades de fondo de las cartas segun categoria
@each $categoriaC, $col in $categoriasCards{
    .carta#{$categoriaC}{
        background-color: $col;
        
    }
    
}
// cartas para categorias con Extend
.card{
    @extend .flip-in-diag-2-br
}

// animacion con demora de entrada de cards
@for $demora from 1 to 5 {
    .card:nth-child(#{$demora}){
        animation-delay: 0.2s * $demora;
    }
}
