.homeGroup{
    background-color: var(--colorImpar);
    width: 100%;
    padding-top: 10%;
    height: 100%;
    padding-bottom: 10%;
}
@media only screen and (max-width: 850px) {
    .homeGroup{
        background-color: var(--colorImpar);
        width: 100%;
        padding-top: 20%;
        height: 100%;
        padding-bottom: 10%;
    }
}