/*colores por categoria y estilos para reutilizar*/
:root{
    --colorImpar: rgb(230, 230, 230);
    --colorImparVfx: rgb(255, 206, 252);
    --colorImparArts: rgb(252, 187, 187);
    --colorImparDev: rgb(252, 224, 187);
    --colorPar: rgb(150,150,150);
    --colorParVfx: rgb(145, 116, 146);
    --colorParArts: rgb(149, 102, 102);
    --colorParDev: rgb(149, 140, 102);
    --generalColor: #009CDE; 
    --vfxColor: rgb(202, 0, 222);
    --artsColor: #DE002D;
    --devColor: #DEB100;
    --bordeGeneral: 5px;
    --tamanoImagenes: 30vh;
    --tamanoImagenesIn: 25vh;
    --tamanoImagenesSkill: 12vh;
}
$lincol:(
    color: var(--generalColor),
    padding: 4px,
    border-radius: 25%,
);
$tamanosFoot:(
    height: 20px,
);
//ajuste rapido
.centrarTodo{
    display: flex;
    align-content: center;
    justify-content: center;
}
//Exagono
%Hexagono { clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

//mix de tamaño foto
@mixin tFoto($alto) {
    height: $alto;
}
// mixins para cada fondo segun categoria, ¡¡¡¡Recordar las clases principales en el HTML!!!!!!
$categoriasImp: "Vfx" var(--colorImparVfx), "Arts" var(--colorImparArts), "Dev" var(--colorImparDev);
$categoriasPar: "Vfx" var(--colorParVfx), "Arts" var(--colorParArts), "Dev" var(--colorParDev);
//Maps para cards
$categoriasCards: (
    VfxC: var(--vfxColor),
    ArtsC: var(--artsColor),
    DevC: var(--devColor),
);
//animacion cards
.flip-in-diag-2-br{-webkit-animation:flip-in-diag-2-br .5s cubic-bezier(.25,.46,.45,.94) both;animation:flip-in-diag-2-br .5s cubic-bezier(.25,.46,.45,.94) both}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-6 9:39:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes flip-in-diag-2-br{0%{-webkit-transform:rotate3d(-1,1,0,-80deg);transform:rotate3d(-1,1,0,-80deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}@keyframes flip-in-diag-2-br{0%{-webkit-transform:rotate3d(-1,1,0,-80deg);transform:rotate3d(-1,1,0,-80deg);opacity:0}100%{-webkit-transform:rotate3d(1,1,0,0deg);transform:rotate3d(1,1,0,0deg);opacity:1}}