/*truco para que el fondo de cada section llegue hasta el final*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*colores por categoria y estilos para reutilizar*/
:root{
    --colorImpar: rgb(230, 230, 230);
    --colorImparVfx: rgb(255, 206, 252);
    --colorImparArts: rgb(252, 187, 187);
    --colorImparDev: rgb(252, 224, 187);
    --colorPar: rgb(150,150,150);
    --colorParVfx: rgb(145, 116, 146);
    --colorParArts: rgb(149, 102, 102);
    --colorParDev: rgb(149, 140, 102);
    --generalColor: #009CDE; 
    --vfxColor: #CA00DE;
    --artsColor: #DE002D;
    --devColor: #DEB100;
    --bordeGeneral: 5px;
    --tamanoImagenes: 30vh;
    --tamanoImagenesIn: 25vh;
    --tamanoImagenesSkill: 12vh;
}
/*HOME*/
#Home{
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--colorImpar);
}
header img{
    display: flex;
width: 30%;
height: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
.grupoCat{
    align-content: center;
    align-items: center;
    align-self: center;
}
.fs-7{
    font-size: 10rem!important;
}
.vfxCard{
    background-color: var(--vfxColor);
}
.artCard{
    background-color: var(--artsColor);
}
.devCard{
    background-color: var(--devColor);
}
#contactForm{
    background-color: var(--colorPar);
    /* height: 100vh;
    width: 100%; */
}
#contactForm h1{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 10rem;
}
.Contact{
    background-color: var(--colorImpar);
}
@media screen {
    
}